{% extends 'base.html' %} 
{% block content %}
<h1 style="background-color:rgb(255, 99, 71); text-align: center;" >Add New Additional Entry</h1>

<form method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
    <tr>
      <td></td>
      <td>
        <style>
          .custom-submit {
              background-color: rgb(255, 99, 71); /* Warna latar belakang */
              color: white; /* Warna teks */
              border: none; /* Menghilangkan border default */
              padding: 10px 20px; /* Menambahkan padding */
              cursor: pointer; /* Mengubah kursor saat hover */
              border-radius: 5px; /* Membuat sudut tombol melengkung */
          }
      
          .custom-submit:hover {
              background-color: rgb(200, 70, 50); /* Warna saat hover */
          }
      </style>
      
      <input type="submit" value="Add Additional Entry" class="custom-submit" />
      </td>
    </tr>
  </table>
</form>

{% endblock %}