{% extends 'base.html' %}
{% block content %}

    <h1 style="background-color:rgb(255, 99, 71); text-align: center;">Welcome to MyVintageChoice</h1> 
    
    
    <div class="jarak">
        <h3 style="display: inline; font-weight: bold;">Name:</h3> <span>{{ name }}</span>
    </div>
    <div class="jarak">
        <h3 style="display: inline; font-weight: bold;">NPM:</h3> <span>{{ npm }}</span>
    </div>
    <div class="jarak">
        <h3 style="display: inline; font-weight: bold;">Class:</h3> <span>{{ class }}</span>
    </div>

    <!-- <h3 style="display: inline; font-weight: bold;">Name:  </h3> <span>{{ name }}</span><br>
    <h3 style="display: inline; font-weight: bold;">Price:  </h3> <span>{{ price }}</span><br>
    <h3 style="display: inline; font-weight: bold;">Description:</h3> <span>{{ description }}</span> -->
        
    {% if not additional_entries %}
    <p>Belum ada data additional pada MyVintageChoice.</p>
    {% else %}
    <table>
    <tr>
        <th>Product</th>
        <th>Time</th>
        <th>Description</th>
        <th>Stock</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
    {% endcomment %} 
    {% for additional_entry in additional_entries %}
    <tr>
        <td>{{additional_entry.product}}</td>
        <td>{{additional_entry.time}}</td>
        <td>{{additional_entry.description}}</td>
        <td>{{additional_entry.stock}}</td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}

    <br />

    <a href="{% url 'main:create_additional_entry' %}">
    <!-- <button>Add New Additional Entry</button> -->

    <button class="custom-button">Add New Additional Entry</button>
    </a>

    <a href="{% url 'main:logout' %}">
        <button>Logout</button>
    </a>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
{% endblock content %}
