<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VintageVogue</title>
</head>
<body>
    <h1>Welcome to MyVintageChoice</h1>
    
    <h5>Name: </h5>
    <p>{{ name }}</p>
    
    <h5>Price: </h5>
    <p>{{ price }}</p>
    
    <h5>Description: </h5>
    <p>{{ description }}</p>
    
    <h5>Era: </h5>
    <p>{{ era }}</p>
    
    <h5>Condition: </h5>
    <p>{{ condition }}</p>
    
    <h5>Stock: </h5>
    <p>{{ stock }}</p>
</body>
</html>